@use "config" as *;
@use "corners" as *;

button {
  @include rounded;

  background: $primary-color;
  border: 0;
  color: $secondary-color;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 0.8rem;

  &:hover {
    background-color: #777;
    cursor: pointer;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  background: #fb8332;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  transition: 0.2s;
  will-change: transform;
}
