.container {
  margin-inline: auto;
  width: min(calc(100% - 2rem), 60rem);
}


.full-bleed {
  box-shadow: 0 0 0 100vmax #ff6c00;
  clip-path: inset(0 -100vmax);
}

.inverse {
  background-color: #ff6c00;
  color: #222;
}
